body {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Press Start 2P";
}

section {
  background: white;
  margin: 30px;
  align-items: center;
  border-radius: 5px;
}

h1 {
  color: red;
}

h1:hover {
  color: green;
  cursor: none;
}

button:hover {
  cursor: pointer;
}

#clicker {
  margin: 20px;
  color: yellow;
  background: red;
  padding: 10px;
  width: 150px;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Press Start 2P";
}

#clicker:hover {
  background: yellow;
  color: red;
  animation: shake 0.82s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#kill-button-header {
    color: red;
}
/* https://www.cursor.cc/?action=icon&file_id=1085 */
#kill-selector:hover {
    cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAPlhmALWroQBwcHAA5trPAKucjADg4OAAQD8/AJSUlADHuasA2c3BACY3QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcwAAAAAAAAAAAAAAAAAABziAAAAAAAAAAAAAAAAAAACIMAAAAAAAAAAAAAAAAAuxAwAAAAAAAAAAAAAAAAAAERAAAAAAAAAAAAAAAAALsQAAAAAAAAAAAAAAgAAAABEQAAAAAAAAAAAAAAgAC7EAAAAAAAAAAAAAAAAAgAAREAAAAAAAAAAAAAAAAAgBAAAAAAAAAAAAAAAAAAWQgBAAAAAAAAAAAAAAAABZQAgAAAAAAAAAAAAAAAAFlAZggAAAAAAAAAAAAAAAWUBmoAgAAAAAAAAAAAAABZQGagAAgAAAAAAAAAAAAFlAZqAAAAAAAAAAAAAAAAWUBmoAAAAAAAAAAAAAAABZQGagAAAAAAAAAAAAAAAFlAZqAAAAAAAAAAAAAAAAWUBmoAAAAAAAAAAAAAAAAJQGagAAAAAAAAAAAAAAAAlAZqAAAAAAAAAAAAAAAAAEBmoAAAAAAAAAAAAAAAAAIGYAAAAAAAAAAAAAAAAAAEYAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////////+f////D////gf///wH///4D///8B//8+A///HAf//4gP///AH///wD///4B///8A///+AH///AA///gDH//wB5//4A///8Af//+AP///AH///wD///4B///+A////Af///wf///4f///+f////f////w=='), auto;
}

#kill-button {
    background: black;
    color: red;
      width: 150px;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Press Start 2P";
  margin: 20px;
  padding: 10px;
}

#kill-button:hover {
    cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAPlhmALWroQBwcHAA5trPAKucjADg4OAAQD8/AJSUlADHuasA2c3BACY3QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcwAAAAAAAAAAAAAAAAAABziAAAAAAAAAAAAAAAAAAACIMAAAAAAAAAAAAAAAAAuxAwAAAAAAAAAAAAAAAAAAERAAAAAAAAAAAAAAAAALsQAAAAAAAAAAAAAAgAAAABEQAAAAAAAAAAAAAAgAC7EAAAAAAAAAAAAAAAAAgAAREAAAAAAAAAAAAAAAAAgBAAAAAAAAAAAAAAAAAAWQgBAAAAAAAAAAAAAAAABZQAgAAAAAAAAAAAAAAAAFlAZggAAAAAAAAAAAAAAAWUBmoAgAAAAAAAAAAAAABZQGagAAgAAAAAAAAAAAAFlAZqAAAAAAAAAAAAAAAAWUBmoAAAAAAAAAAAAAAABZQGagAAAAAAAAAAAAAAAFlAZqAAAAAAAAAAAAAAAAWUBmoAAAAAAAAAAAAAAAAJQGagAAAAAAAAAAAAAAAAlAZqAAAAAAAAAAAAAAAAAEBmoAAAAAAAAAAAAAAAAAIGYAAAAAAAAAAAAAAAAAAEYAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////////+f////D////gf///wH///4D///8B//8+A///HAf//4gP///AH///wD///4B///8A///+AH///AA///gDH//wB5//4A///8Af//+AP///AH///wD///4B///+A////Af///wf///4f///+f////f////w=='), auto;
}